* {
  padding: 0;
  margin: 0;
}

body {
  padding: 24px;
}

body #root {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #f7f7f7;
}
